---
import { IoMdMail } from "react-icons/io";
import { FaFacebookSquare } from "react-icons/fa";
import { IoLogoFacebook } from "react-icons/io5";
import { IoMail } from "react-icons/io5";
import { IoLogoPinterest } from "react-icons/io5";

const menuItems = [
  {
    name: "Home",
    link: "index.html",
  },
  // {
  //   name: "O nás",
  //   link: "about.html",
  // },
  {
    name: "Štítna Žľaza",
    link: "/stitna-zlaza",
  },
  //   {
  //     name: "Odbornici",
  //     link: "/odbornici",
  //   },
  {
    name: "Komunita",
    link: "/komunita",
  },
  {
    name: "Užitočné zdroje",
    link: "/linky",
  },
  //   {
  //     name: "Materialy na Stiahnutie",
  //     link: "contact.html",
  //   },
  {
    //  name: "Videa",
    //   link: "/videa",
  },
];
---

<div class="footer-wrapper">
  <div id="footer">
    <div class="text">
      <p class="footer-text">
        Slovenská asociácia štítnej žľazy 2024<br />
         31.10.2023 sme boli registrovaní ako občianske združenie s názvom <b
          >Slovenská asociácia štítnej žľazy</b
        ><br />
         Reg.č.: VSS/1-900/90-67784<br />
         IČO: 55 829 007<br />
         Sídlo: Poprad, Slovensko
      </p>
      <p>Kedykoľvek nás môžte kontaktovať:</p>
      <div class="icons-wrapper">
        <a href="mailto:sastitnejzlazy@gmail.com">
          <div class="mail-icon icon">
            <IoMail />
          </div>
        </a>
        <a
          class="icon-link"
          href="https://www.facebook.com/groups/2453636744795347/"
        >
          <div class="fb-icon icon">
            <IoLogoFacebook />
          </div>
        </a>
        <a class="icon-link" href="https://sk.pinterest.com/sastitnejzlazy/">
          <div class="fb-icon icon">
            <IoLogoPinterest />
          </div>
        </a>
      </div>
      <!-- <div class="fb-link">
                          <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F2453636744795347%2F&sa=D&sntz=1&usg=AOvVaw2CsLjSV0dZZoXJkpuB627c">Link</a>
                      </div> -->
    </div>
    <div class="right-side">
      <div class="linky">
        <nav class="links-wrapper">
          {
            menuItems.map((item) => (
              <a href={item.link} class="nav-item ">
                {item.name}
              </a>
            ))
          }
        </nav>
      </div>
      <div class="logo">
        <span>Slovenská Asociácia <br /> Štítnej žľazy</span>
        <img src="/sz_logo_mono.svg" alt="sasz_logo" />
      </div>
    </div>
  </div>
</div>

<style>
  .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
  }

  #footer {
    display: flex;
    margin-top: auto;
    padding-block: 1.5rem;
    font-size: 14px;
    justify-content: space-between;
    padding-inline: 5rem;
    width: 100%;
    max-width: 1440px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: var(--background-light); */
    background-color: white;
    margin-top: 5rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .logo img {
    width: auto;
    height: 110px;
  }

  .logo span {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    color: var(--fg-light-sec);
  }

  .icons-wrapper {
    display: flex;
    gap: 1rem;
  }

  .footer-text {
    line-height: 1.3rem;
    font-size: 0.8rem;
  }

  .icon {
    text-decoration: none;
    font-size: 2rem;
    color: var(--fg-light-sec);
    transition: color 0.3s ease-in-out;
  }

  .icon:hover {
    color: var(--fg-light);
  }

  .links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media screen and (max-width: 940px) {
    #footer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .logo span {
      font-size: 0.8rem;
      font-weight: 600;
      text-align: center;
    }
  }
</style>
