---
import { IoMdMail, IoLogoFacebook } from "react-icons/io";

const menuItems = [
  {
    name: "Home",
    link: "index.html",
  },
  //   {
  //     name: "O nas",
  //     link: "about.html",
  //   },
  {
    name: "Stitna Zlaza",
    link: "/stitna-zlaza",
  },
  //   {
  //     name: "Odbornici",
  //     link: "/odbornici",
  //   },
  {
    name: "Komunita",
    link: "/komunita",
  },
  {
    name: "Uzitocne linky",
    link: "/linky",
  },
  //   {
  //     name: "Materialy na Stiahnutie",
  //     link: "contact.html",
  //   },
  {
    name: "Videa",
    link: "/videa",
  },
];
---

<div class="footer-wrapper">
  <div id="footer">
    <div class="text">
      <p>
        Slovenská asociácia štítnej žľazy vznikla 8.4.2023 <br />
         Momentálne prebieha vytvorenie právnej formy - občianského združenia
      </p>
      <p>Kedykoľvek nás môžte kontaktovať:</p>
      <div class="icons-wrapper">
        <a href="mailto:sastitnejzlazy@gmail.com">
          <div class="mail-icon icon">
            <IoMdMail />
          </div>
        </a>
        <a
          class="icon-link"
          href="https://www.facebook.com/groups/2453636744795347/"
        >
          <div class="fb-icon icon">
            <IoLogoFacebook />
          </div>
        </a>
      </div>
      <!-- <div class="fb-link">
                    <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F2453636744795347%2F&sa=D&sntz=1&usg=AOvVaw2CsLjSV0dZZoXJkpuB627c">Link</a>
                </div> -->
    </div>
    <div class="right-side">
      <div class="linky">
        <nav class="links-wrapper">
          {
            menuItems.map((item) => (
              <a href={item.link} class="nav-item ">
                {item.name}
              </a>
            ))
          }
        </nav>
      </div>
      <div class="logo">
        <span>Slovenská Asociácia <br /> Štítnej žľazy</span>
        <img src="/sz_logo_mono.svg" alt="sasz_logo" />
      </div>
    </div>
  </div>
</div>

<style>
  .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
  }

  #footer {
    display: flex;
    margin-top: auto;
    padding-block: 1.5rem;
    font-size: 14px;
    justify-content: space-between;
    padding-inline: 5rem;
    width: 100%;
    max-width: 1440px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-light);
    margin-top: 5rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .logo img {
    width: auto;
    height: 110px;
  }

  .logo span {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    color: var(--fg-light-sec);
  }

  .icons-wrapper {
    display: flex;
    gap: 1rem;
  }

  .icon {
    text-decoration: none;
    font-size: 2rem;
    color: var(--fg-light-sec);
    transition: color 0.3s ease-in-out;
  }

  .icon:hover {
    color: var(--fg-light);
  }

  .links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
