---
import "../../styles/theme.css";
import { IoMenu } from "react-icons/io5";

const menuItems = [
  {
    name: "Home",
    link: "index.html",
  },
  // {
  //   name: "O nás",
  //   link: "/o-nas",
  // },

  {
    name: "Štítna Žľaza",
    link: "/stitna-zlaza",
  },
  //   {
  //     name: "Odbornici",
  //     link: "/odbornici",
  //   },
  {
    name: "Komunita",
    link: "/komunita",
  },
  {
    name: "Užitočné linky",
    link: "/linky",
  },
  //   {
  //     name: "Materialy na Stiahnutie",
  //     link: "contact.html",
  //   },
  // {
  //   name: "Videá",
  //   link: "/videa",
  // },
];
---

<script></script>

<script type="module">
  //@ts-ignore
  //@ts-nocheck
  const nav = document.querySelector(".items-wrapper");
  const navLinks = nav.querySelectorAll(".nav-item");
  const currentURL = window.location.href;

  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });

  const navbar = document.querySelector(".navbar");
  const scrollThreshold = window.innerHeight / 4;

  function checkScrollPostition() {
    if (navbar) {
      const scrollY = window.scrollY;

      if (scrollY >= scrollThreshold) {
        navbar.classList.add("scrolled");
      } else {
        navbar.classList.remove("scrolled");
      }
    }
  }

  window.addEventListener("scroll", checkScrollPostition);
  checkScrollPostition();

  const dropdownIcon = document.querySelector(".dropdown-icon");
  if (dropdownIcon) {
    dropdownIcon.addEventListener("click", () => {
      const dropMenu = document.querySelector(".drop-menu");
      if (dropMenu) {
        dropMenu.classList.toggle("active");
      }
    });
  }
</script>

<div class="navbar">
  <div class="navbar-wrapper">
    <a href="/index" class="logo">
      <img src="../../../public/sz_logo_mono.svg" alt="mono-logo" />
      <span>SASZ</span>
    </a>
    <nav class="items-wrapper">
      {
        menuItems.map((item) => (
          <a href={item.link} class="nav-item ">
            {item.name}
          </a>
        ))
      }
    </nav>
    <div class="dropdown-icon">
      <IoMenu />
    </div>
  </div>
  <div class="drop-menu">
    <div class="drop-items-wrapper">
      {
        menuItems.map((item) => (
          <a href={item.link} class="nav-item ">
            {item.name}
          </a>
        ))
      }
    </div>
  </div>
</div>

<style is:global>
  .drop-menu {
    display: none;
  }

  .logo {
    display: flex;
    width: auto;
    height: auto;
    text-decoration: none;
    color: var(--fg-light);
  }

  .dropdown-icon {
    font-size: 1.8rem;
    display: none;
  }

  .logo > img {
    width: 4rem;
    height: 4rem;
    margin: -1rem;
  }

  .logo > span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fg-light);
    margin: 0 1rem;
  }

  .navbar-wrapper {
    display: flex;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 3rem;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fbfafd;

    z-index: 10;
    transition: all 0.3s ease-in-out;
  }

  .navbar.scrolled {
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }

  .items-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    left: auto;
  }

  .nav-item {
    color: var(--fg-light-sec);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  .nav-item:hover {
    color: var(--fg-light);
  }

  .nav-item.active {
    color: var(--fg-light);
  }

  @media screen and (max-width: 900px) {
    .items-wrapper {
      display: none;
    }

    .dropdown-icon {
      display: block;
      cursor: pointer;
    }

    .drop-menu {
      display: none;
      background-color: white;
      position: fixed;
      top: 5rem;
      right: 1rem;
      padding-inline: 2rem;
      border-radius: 1rem;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      transition: all 0.3s ease-in-out;
    }

    .drop-menu.active {
      display: flex;
    }

    .navbar {
      flex-direction: column;
      align-items: center;
    }

    .navbar-wrapper {
      width: 90%;
    }

    .drop-items-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 2rem;
      gap: 1rem;
      color: var(--fg-light);
    }
  }
</style>
