---
import Layout from "../layouts/Layout.astro";
import "../styles/theme.css";
import {Content as Links} from '../content/linky/linky.mdx'
---

<Layout title="Uzitocne linky">
    <h1>Uzitocne Linky</h1>
    <Links />
</Layout>

