---
import Layout from "../layouts/Layout.astro";
import "../styles/theme.css";
---

<Layout title="O nas">
  <div class="onas-wrapper">Tuto stranku pripravujeme...</div>
</Layout>

<style>
  .onas-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
</style>
