---
import Layout from "../layouts/Layout.astro";
import "../styles/theme.css";
// import VideoCard from "../components/VideoCard.astro";
---

<Layout title="Videa">
  <div class="page-wrapper">
    <h1>Videa</h1>
    <p>
      V tejto sekcii budeme zdieľať zaujímavé videá o štítnej žľaze, ktoré sme
      našli na youtube :)
    </p>
    <div class="video-list">
      <div class="video-container">
        <div class="video-wrapper">
          <iframe
            slot="video-frame"
            class="video"
            src="https://www.youtube.com/embed/BlXmZEo7ouM"
            title="ŠPECIALISTI - Všetko čo potrebujete vedieť o vyšetrení u endokrinológa"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="description">
          <p>Všetko čo potrebujete vedieť o vyšetrení u endokrinológa</p>
        </div>
      </div>

      <div class="video-container">
        <div class="video-wrapper">
          <iframe
            slot="video-frame"
            class="video"
            src="https://www.youtube.com/embed/BlXmZEo7ouM"
            title="ŠPECIALISTI - Všetko čo potrebujete vedieť o vyšetrení u endokrinológa"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="description">
          <p>Všetko čo potrebujete vedieť o vyšetrení u endokrinológa</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
