---
import Layout from "../layouts/Layout.astro";
import "../styles/theme.css";
import VideoCard from "../components/VideoCard.astro";
---

<Layout title="Videa">
    <h1>Videa</h1>
    <p>V tejto sekcii budeme zdieľať zaujímavé videá o štítnej žľaze, ktoré sme našli na youtube :) </p>
    <VideoCard description="Reportáž TV Markíza o prvej návšteve endokrinológa a základných vyšetreniach"/>
</Layout>