<section id="join-us">
    <div class="join-us-body">
        <div class="image-wrapper">
            <img src="/home/join-us.svg" alt="">
        </div>
        <div class="content-wrapper">

            <div class="join-content">
                <h1>Pridajte sa k nam</h1>
                <p>Vytvorili sme skupinu na sociálnej sieti Facebook, kde sa môžte pridať a byť tak v kontakte s ostatnými priaznivcami našej asociácie. </p>
                <span>Nazov: SASZ</span>
                <br>
                <a href="https://www.facebook.com/groups/2453636744795347/" target="_blank">Link</a>
            </div>
        </div>

    </div>

    

</section>

<style>
    #join-us {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 10rem;
        padding-block: 10rem
    }
    .image-wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .join-us-body > img {
        width: 100%;
    }

    .join-us-body {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .join-content {
        max-width: 28rem;
    }

    .join-content h1 {
        font-size: 2.5rem;
        color: var(--accent-dark)
    }
</style>