<section id="warning">
    <div class="warning-body">
        <div class="content-wrapper">
            <div class="warning-content">
                <h1>Pozor!</h1>
                <p>Nie sme odborníci, sme pacienti, avšak všetky informácie uvedené na tejto stránke sa snažíme podložiť hodnovernými informáciami s transparentnými zdrojmi. V prípade akýchkoľvek pripomienok prípadne návrhov na úpravu nás neváhajte kontaktovať. </p>
            </div>
        </div>
        <div class="image-wrapper">

            <img src="/home/warning.svg" alt="">
        </div>
        
    </div>

    

</section>

<style>
    #warning {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 10rem;
        padding-block: 10rem
    }

    .img-wrapper {
        width: 50%;
    }

    .warning-body {
        display: flex;
        align-items: center;
        gap: 4rem;
        margin-bottom: 5rem;
    }

    .content-wrapper {
        width: 50%;
    }

    .warning-content {
        display: flex;
        flex-direction: column;
        max-width: 28rem;
    }

    .warning-content h1 {
        font-size: 2.5rem;
        color: var(--accent-dark)
    }
</style>